body {
    background-color: #F7F7F7;
    color: #434343;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}

.display {
    display: none;
}

.btn {
    background-color: lightcoral;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn:hover {
    background-color: darkred;
}

#coordinates {
    width: 200px;
    height: 100px;
    border: 1px solid black;
}

table, tr, td {
    border-collapse: collapse;
    border: 1px solid #2b525e;
    width: 50%;
    background-color: #edffff;
    color: #2b525e;
    padding: 5px;
  }
